<h1>{{action}}</h1>
<form method="POST">
    <input type="hidden" name=referrer">
    <label>Unique_id</label>
    <input type="text" id="tour_id" name="id"><br>
    <input type="submit" value="Submit">
</form>
