<h1>Insert tour to db</h1>
<form method="POST">
    <label>TourId:</label>
    <input type="number" id="tour_id" name="id" min=0 value=0><br>
    <label>Name:</label>
    <input type="text" id="name" name="name"><br>
    <label>Destination:</label>
    <input type="text" id="destId" name="destination"><br>
    <label>Category:</label>
    <input type="text" id="category" name="category"><br>
    <label>MaxTouristCount:</label>
    <input type="number" id="max_count" name="maximum_tourists" min=1 value=1><br>
    <select id="kind" name="kind">
        <option value="SightSeeing">SightSeeing</option>
        <option value="Shore">Shore</option>
    </select>
    <input type="submit" value="Submit">
</form>
