<h1>Search tour by id or name</h1>
<form method="POST">
    <label>TourId:</label>
    <input type="number" id="tour_id" name="id" min=0, value=0><br>
    <label>Name:</label>
    <input type="text" id="name" name="name"><br>
    <label>Enter:</label>
    <input type="submit" value="Submit">
</form>
