<h1>Update SightSeeing data</h1>
<form method="POST">
    <input type="hidden" id="unique_id" name="unique_id" value={{default_unique_id}}><br>
    <label>TourID:</label>
    <input type="number" id="tour_id" name="id" min="0"><br>
    <label>Name of the hotel</label>
    <input type="text" id="hotel_name" name="hotel"><br>
    <label>Place of interest 1</label>
    <input type="text" id="place_1" name="place_1" value="Bora Bora">
    <label>Place of interest 2</label>
    <input type="text" id="place_2" name="place_2" value="Paris">
    <label>Place of interest 3</label>
    <input type="text" id="place_3" name="place_3" value="Maui">
    <input type="submit" value="Submit">
</form>