<h1>Find tours by price SKU</h1>
<form method="POST">
    <label>SKU</label>
    <select id="sku" name="sku">
        <option value="M223-02-001">M223-02-001</option>
        <option value="W223-58-010">W223-58-010</option>
        <option value="C604-25-035">C604-25-035</option>
        <option value="W005-51-120">W005-51-120</option>
    </select><br>
     <input type="submit" value="Submit">
</form>