<h1>Insert price to db</h1>
<form method="POST">
    <label>SKU</label>
    <select id="sku" name="sku">
        <option value="M223-02-001">M223-02-001</option>
        <option value="W223-58-010">W223-58-010</option>
        <option value="C604-25-035">C604-25-035</option>
        <option value="W005-51-120">W005-51-120</option>
    </select><br>
    <label>Price for the tour</label>
    <input type="text" id="price" name="price" value="400.00$"><br>
    <label>Price when on sale</label>
    <input type="text" id="sale" name="sale" value="300.00$"><br>
    <label>Quantity</label>
    <input type="number" id="quantity" name="quantity" min=1 value=1><br>
    <input type="submit" value="Submit">
</form>