<h1>Set price for tour</h1>
<form method="POST">
    <label>Unique id of a tour</label>
    <input type="text" id="tour_id" name="tour_id"><br>
    <label>Unique id of a price</label>
    <input type="text" id="price_id" name="price_id"><br>
    <input type="submit" value="Submit">
</form>